*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}
/* navbar */

.topnav {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav{
  display: flex;
  left: 0px;
  justify-content: left;
  align-items: center;
  height: 60px;
}
.topnav a{
  min-height: 100px;
  display: flex;
  align-items: center;
}
.topnav .rightnav{
  position: absolute;
  right: 0;
}

#photo img{
  min-height: 40px;
  min-width: 40px;
  max-width: 40px;
  max-height: 40px;

  text-align: center;
  object-fit: cover;
  border-radius: 10px;
}

#downarrow {
  color: red;
  align-items: flex-end;
}
#info {
  right: -15px;
  position: relative;
  top: -20px;
}
#notification {
  filter: grayscale(100%);
}
#search {
  filter: grayscale(100%);
}






/* movie under navbar */
.underNavbar{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 350px;
  position: relative;

}
.underNavbar img{
  width: 100%;
  height: 350px;

  filter: brightness(70%);
}
.text{
  position: absolute;
  left: 30px;
  top: 20px;
  right: 60%;
}


/* buttons */
.text button{
  box-sizing: border-box;
    position: relative;
    display: inline-block;
    transform: scale(var(--ggs,1));
    width: 70px;
    height: 35px
}
.text #button1::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 10px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 6px solid;
  top: 12px;
  left: 14px
}
h2 {
  color: white;
  padding-left: 100px; 
}
.continue h2 {
  position: relative;
  top: 20px;
}
#root p{
  color: white;
}


.shows-data-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.show-box{
    position: relative;
    margin: 5px;
    padding: 10px;
    width: 320px;
    color: silver;
    background-color: rgb(41, 37, 37);
    font-size: 1.4rem;
    
}
.show-box img{
    width: 100%;
}
.show-box div{
    margin: 4px;
}
.show-box div.show-genres{
    color: #7f7f7f;
    font-size: 1rem;
}

.show-box:hover .show-overview{
    opacity: 1;
}
*{
    scrollbar-width: thin;
    scrollbar-color: black gray;
}
*::-webkit-scrollbar{
    width: 12px;
}
*::-webkit-scrollbar-track{
    background-color: gray;
}
*::-webkit-scrollbar-thumb{
    background-color: #3f3f3f;
    border-radius: 20px;
}


/* carousel */
.carousel-container {
  width: 1280px;
  margin: auto;
  min-height: 200px;
  position: relative;
}

.carousel-container .carousel-inner {
  overflow: hidden;
}
.carousel-container .track {
  display: inline-flex;
  transition: transform 0.5s;
}
.carousel-container .card-container {
  width: 259px;
  flex-shrink: 0;
  height: 400px;
  box-sizing: border-box;
}
.carousel-container .card-container .card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.nav button {
  width: 60px;
  height: 250px;
  border: 1px solid #aaa;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
  background-color: #333;
  opacity: 0.7;
}
.nav .prev {
  left: -30px;
  display: none;
}
.nav .prev.show {
  display: block;
}
.nav .next {
  right: -30px;
}
.nav .next.hide {
  display: none;
}

.card > * {
  flex: 1;
}
.card .img {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  height: 5px;
}

/* settings of display image movie */
.card .img img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 80%;
  height: 250px;

}



.card .info {
  flex-basis: 40px;
  background: #333;
  color: #fff;
  flex-grow: 0;
  padding: 10px;
  box-sizing: border-box;
}
.material-icons{
  color: white;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}




.show-overview{
    position: absolute;
    top: 0px;
    width: 265px;
    flex-shrink: 0;
    height: 260px;
    height: 400px;
    padding-right: 15px;
    box-sizing: border-box;
    background-color: rgb(41, 37, 37);
    opacity: 0;
    transition: opacity 0.3s ease-in;
    overflow-y: scroll;
    font-size: 1rem;
}
.card-container:hover .show-overview{
    opacity: 1;
}
*{
    scrollbar-width: thin;
    scrollbar-color: black gray;
}
*::-webkit-scrollbar{
    width: 12px;
}
*::-webkit-scrollbar-track{
    background-color: gray;
}
*::-webkit-scrollbar-thumb{
    background-color: #3f3f3f;
    border-radius: 20px;
}
.show-overview{
   background-color: silver;
   border: solid silver 2px;
   background-image: url("http://store-images.s-microsoft.com/image/apps.46851.9007199266246365.1f6d0339-ecce-4fe5-840a-652cd84111ad.ddef6be7-6304-41c0-a347-1d571b66dfb2");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center; 
   z-index: 2;

}
background-image{
    opacity: 0.7;
}
.show-overview button{
    float: inline-end;   
}
.show-favorite button{
  position: absolute;
  right: 15px;
  color: rgb(124, 15, 15);
  background-color: yellow;
  border-radius: 5px;
}
.show-overview input{
  float: inline-end;
}
.show-favorite input{
position: absolute;
right: 15px;
}
input:checked{
  accent-color: red;
}